@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.nav-link {
    color: #fff;
}
.hero {
    background-image: url("img/hero.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.article, p, h1 {
    padding: 20px;
}
.portfolio img {
    width: 200px;
}
.copy {
    text-align: center;
}